@charset  " utf-8 " ;
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #886ff8 16.62%, #4117fc 85.61%);
}
.cabeça{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}
.cabeça-img{
height: 72px;
}

.cabeça-menu{
display: flex;
gap: 32px;
}
.cabeça-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}
.principal{
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}
.principal-seçao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.principal-seçao-escrita{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.principal-seçao-escrita-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.principal-seçao-escrita-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}
.principal-seçao-escrita-botao{
background-color: #ECD6C4;
width: 185px;
height: 67px;
border:none;
box-shadow:4px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: 'Sarala', sans-serif;
font-weight: 400;
font-size: 24px;
color: #2f2325;
}
.principal-seçao-escrita-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.principal-img{
    height: 430px;
}
.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 48px;
}
.secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#FFF2E7;
}
.rodape{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}
.rodape-img{
    height: 48px;
    display: block;
    margin: 0 auto;
}

.principal-seçao-escrita2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.principal-seçao2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.principal-seçao-escrita-titulo2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    margin-bottom: 15px;
}
.Diogo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    background: linear-gradient(68.15deg, #000000 16.62%, #ff0095 85.61%);
}
